<div class="ui stackable menu">
    <a class="{{if eq . "admin"}}active{{end}} item" href="/admin">Home</a>
    <a class="{{if eq . "policies"}}active{{end}} item" href="/admin/page/policies">Policies</a>
    <a class="{{if eq . "logs"}}active{{end}} item" href="/admin/page/logs">Logs</a>
    <a class="{{if eq . "upstream"}}active{{end}} item" href="/admin/page/upstream">Upstream</a>
    <a class="item">Sign-in</a>
</div>